.sidebar{
    background-color: rgba(238, 230, 230, 0.218);
    position: sticky;
    top: 0;
    z-index: 10;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.Du {
    background-color: rgba(238, 230, 230, 0.218);
    position: sticky;
    top: 0;
    z-index: 10;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}